/*<=== Classes ===>*/
*, *::after
{
    box-sizing: border-box;
}

.pro_contain {
    margin: 0 auto;
    width: 960px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
  }

  .mainsection
  {
      border: 1px solid #dddddd;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: #ffffff;
  }
  .content
  {
  


  }
  .name
  {
      font-family: Georgia, 'Times New Roman', Times, serif;
      background: #4aaaa5;
      padding: 25px;
     
      color: #ffffff;
      float: left;
  }
  
  .menu_options
  {
      float: right;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 5px;

  }

  .footer
  {
      background: #666666;
      height: 50px;
      border-top: 7px solid #4aaaa5;
  }
  .menu
  {
    height: 70px; 
    border-bottom: 1px solid #cccccc;
}

.about_header
{
    color: #4aaaa5;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}
.profile_pic
{
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.text
{
    margin-left: 25px;
    margin-right: 25px;
}
.clearfix::after
{
    content:" ";
    display: block;
    clear: both;
}
/*<=== Classes ===>*/

/*<=== IDs ===>*/

/*<=== HTML Tags ===>*/
header
{
    background-color: #ffffff;
}

body
{
    background-image: url("../images/beige-tiles.png")
}